{% extends 'base.html' %}

{% block body %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/education.css' %}">
<div class="education">
    <div class="edu-section">
        <div class="edu edu-1">
            
            <div class="edu-data">
                <div class="block">
                    <div><i class="fa-solid fa-arrows-turn-right"></i><span>IIMT college Of Engineering, Greater Noida</span></div>
                    <p>7.89 cgpa</p>
                </div>
                <p>Information Technology</p>
                <p>2020-2024</p>
            </div>
        </div>
        <div class="edu edu-3">
            
            <div class="edu-data">
                <div class="block">
                    <div>
                        <i class="fa-solid fa-arrows-turn-right"></i>
                        <span>Central Academy Sr. Sec. School, Rewa</span>
                    </div>
                    <p>70%</p>
                </div>
                <p>Intermediate - Science(non-medical)</p>
                <p>2018-2019</p>
            </div>
        </div>
        <div class="edu edu-3">
            
            <div class="edu-data">
                <div class="block">
                    <div><i class="fa-solid fa-arrows-turn-right"></i><span>Central Academy Sr. Sec. School, Rewa</span></div>
                    <p>7.6 cgpa</p>
                </div>
                <p>High School - Science</p>
                <p>2016-2017</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}